QMenuBar {
    background-color: #21252b;
    color: #D3D3D3;
}

QMenuBar * {
    background-color: #21252b;
    color: #D3D3D3;
}

QDockWidget {
    color: #D3D3D3;
    margin: 0;
}

QDockWidget::title {
    background-color: #282c34;
}

QTextBrowser {
    background-color: #000000;
    color: #D3D3D3;
}